div{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 40px;
    color: #484848;
    font-size: 20px;
}
#btn1{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    outline: none;
    color: #fff;
    background-color:rgb(255, 77, 77)    ;
}
#btn1:hover{
    background-color: rgb(255, 51, 51)
    ;
}
h1{
    font-size: 20px;
    font-weight: 500;
    color:rgb(0, 0, 128);
    margin: 0;
    text-align: center;
}
#div1{
    background-color: #e0ffcd;
}
#div2{
    background-color:#f1753b;
}
#div3{
    background-color: #ffebbb;
}
#div4{
    background-color: #ffcab0;
}